include:
  - "docker-compose.kafka.yml"

services:
  logcollector:
    build:
      context: ..
      dockerfile: docker/dockerfiles/Dockerfile.logcollector
      network: host
    restart: "unless-stopped"
    depends_on:
      kafka1:
        condition: service_healthy
      kafka2:
        condition: service_healthy
      kafka3:
        condition: service_healthy
      logserver:
        condition: service_started
      clickhouse-server:
        condition: service_healthy
    networks:
      heidgaf:
        ipv4_address: 172.27.0.7
    memswap_limit: 768m
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 512m
        reservations:
          cpus: '1'
          memory: 256m

  logserver:
    build:
      context: ..
      dockerfile: docker/dockerfiles/Dockerfile.logserver
      network: host
    restart: "unless-stopped"
    depends_on:
      kafka1:
        condition: service_healthy
      kafka2:
        condition: service_healthy
      kafka3:
        condition: service_healthy
      clickhouse-server:
        condition: service_healthy
    networks:
      heidgaf:
        ipv4_address: 172.27.0.8
    memswap_limit: 768m
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 512m
        reservations:
          cpus: '1'
          memory: 256m
    volumes:
      - "${MOUNT_PATH:?MOUNT_PATH not set}:/opt/file.txt"


  inspector:
    build:
      context: ..
      dockerfile: docker/dockerfiles/Dockerfile.inspector
      network: host
    restart: "unless-stopped"
    depends_on:
      kafka1:
        condition: service_healthy
      kafka2:
        condition: service_healthy
      kafka3:
        condition: service_healthy
      logserver:
        condition: service_started
      prefilter:
        condition: service_started
      logcollector:
        condition: service_started
      clickhouse-server:
        condition: service_healthy
    networks:
      heidgaf:
        ipv4_address: 172.27.0.6
    deploy:
      mode: "replicated"
      replicas: 1
      resources:
        limits:
          cpus: '2'
          memory: 512m
        reservations:
          cpus: '1'
          memory: 256m

  prefilter:
    build:
      context: ..
      dockerfile: docker/dockerfiles/Dockerfile.prefilter
      network: host
    restart: "unless-stopped"
    depends_on:
      kafka1:
        condition: service_healthy
      kafka2:
        condition: service_healthy
      kafka3:
        condition: service_healthy
      logcollector:
        condition: service_started
      logserver:
        condition: service_started
      clickhouse-server:
        condition: service_healthy
    networks:
      heidgaf:
        ipv4_address: 172.27.0.9
    deploy:
      mode: "replicated"
      replicas: 1
      resources:
        limits:
          cpus: '2'
          memory: 512m
        reservations:
          cpus: '1'
          memory: 256m

  detector:
    build:
      context: ..
      dockerfile: docker/dockerfiles/Dockerfile.detector
      network: host
    restart: "unless-stopped"
    depends_on:
      kafka1:
        condition: service_healthy
      kafka2:
        condition: service_healthy
      kafka3:
        condition: service_healthy
      logcollector:
        condition: service_started
      logserver:
        condition: service_started
      clickhouse-server:
        condition: service_healthy
    networks:
      heidgaf:
        ipv4_address: 172.27.0.10
    deploy:
      mode: "replicated"
      replicas: 1
      resources:
        limits:
          cpus: '2'
          memory: 512m
        reservations:
          cpus: '1'
          memory: 256m
          devices:
            - driver: nvidia
              count: 1 # alternatively, use `count: all` for all GPUs
              capabilities: [gpu]

  clickhouse-server:
    image: clickhouse/clickhouse-server:24.3.12.75-alpine
    container_name: clickhouse-server
    networks:
      heidgaf:
        ipv4_address: 172.27.0.11
    restart: "unless-stopped"
    ports:
      - "8123:8123"
      - "9000:9000"
    healthcheck:
      test: [ "CMD-SHELL", "nc -z 127.0.0.1 8123" ]
      interval: 10s
      timeout: 5s
      retries: 3

  monitoring_agent:
    build:
      context: ..
      dockerfile: docker/dockerfiles/Dockerfile.monitoring
      network: host
    restart: "unless-stopped"
    depends_on:
      kafka1:
        condition: service_healthy
      kafka2:
        condition: service_healthy
      kafka3:
        condition: service_healthy
      clickhouse-server:
        condition: service_healthy
    networks:
      heidgaf:
        ipv4_address: 172.27.0.12

networks:
  heidgaf:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.27.0.0/16
          gateway: 172.27.0.1
